:root {
  --color-bg: #2C2C32;
  --color-bg-hover: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: rgb(250, 235, 217);
  padding: 0 0;
  text-align: center;
  float: left;
padding-bottom:150%;


}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

 h1{
  padding-left: 0 ;
  float: left;
  margin-top: 0%;
  font-size: 14;

}

h2{
  float: right;
  margin-top: 0%;
  font-size: 14;
}

.container {
  max-width: 100%;
  padding: 1rem 0;
  font-size: 14;



}

.active {
  color: var(--color-bg-hover);
  cursor: default;
}
.header-rows{
  margin-top: 2%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a{
  text-decoration: none;
}

#login {
  margin-top: 100%;
  float: none;
}
h1 #right{
  padding-left: 0 ;
  float: left;
  margin-top: 0%;
  font-size: 14;
}
.Dashboard{
  display: flex ;
}
.Claster{
  padding-top: 5%;
  padding-left: 5%;
  width: 600px;
  height: 300px;
}
.Title{
  display: flex;
}
.Prognoz{
  padding-top: 5%;
  padding-left: 5%;
  width: 400px;
  height: 200px;
}
.Statistics{
  padding-top: 5%;
  padding-left: 5%;
  width: 600px;
  height: 300px;
}


